<div id="home-header" class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <img src="/assets/headerFooter/iPhone-b2b2b8eb007140b6e496137b2e2d47b96fea3f868d59f6815632b62c5c19ac52.png" class="img-responsive" />
      </div>

      <div class="col-sm-8">

        <h1 class="display-3">A Complete Modular Care Home Management System For Outstanding Quality of Care</h1>

        <p class="lead">Our point of care app allows you to digitise every aspect of care home management, from care plans, to risk assessments, to medication outlines, staffing and reporting.</p>

        <form class="form-inline">
          <label class="sr-only" for="inlineFormInput">Email</label>

          <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Email">

          <label class="sr-only" for="inlineFormInputGroup">Password</label>

          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <input type="text" class="form-control" placeholder="Password">
          </div>

          <button type="button" class="btn btn-primary mosaic-action-button">sign up for free</button>
        </form>

      </div>
    </div>
  </div>
</div>

<div class="container-fluid home-modules-container">
  <h2> Our Modules</h2>
  <div class="row">

    <div class="col-md-3">
      <div class="card">
        <img class="card-img-top img-responsive" src="/assets/images/productIcons/png/carePlan/72x72.png" alt="Care Plan Module" />
        <div class="card-block">
          <h4>Care Plan</h4>
          <p class="card-text">
            module description that can go in here...
          </p>
          <a href="#" class="btn btn-default">Start</a>
          <a href="/care_plan_module" class="btn btn-default">More Info</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <img class="card-img-top img-responsive" src="/assets/images/productIcons/png/administrator/72x72.png" alt="Administrator Module" />
        <div class="card-block">
          <h4>Administrator</h4>
          <p class="card-text">
            module description that can go in here...
          </p>
          <a href="#" class="btn btn-default">Start</a>
          <a href="/administrator_module" class="btn btn-default">More Info</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <img class="card-img-top img-responsive" src="/assets/images/productIcons/png/advancedCare/72x72.png" alt="Advanced Care Module" />
        <div class="card-block">
          <h4>Advanced Care</h4>
          <p class="card-text">
            module description that can go in here...
          </p>
          <a href="#" class="btn btn-default">Start</a>
          <a href="/advanced_care_module" class="btn btn-default">More Info</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <img class="card-img-top img-responsive" src="/assets/images/productIcons/png/analytics/72x72.png" alt="Analytics Module" />
        <div class="card-block">
          <h4>Analytics</h4>
          <p class="card-text">
            module description that can go in here...
          </p>
          <a href="#" class="btn btn-default">Start</a>
          <a href="/analytics_module" class="btn btn-default">More Info</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <img class="card-img-top img-responsive" src="/assets/images/productIcons/png/communication/72x72.png" alt="Communication Module" />
        <div class="card-block">
          <h4>Communication</h4>
          <p class="card-text">
            module description that can go in here...
          </p>
          <a href="#" class="btn btn-default">Start</a>
          <a href="/communication_module" class="btn btn-default">More Info</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <img class="card-img-top img-responsive" src="/assets/images/productIcons/png/healthAndSafety/72x72.png" alt="Health And Safety Module" />
        <div class="card-block">
          <h4>Health And Safety</h4>
          <p class="card-text">
            module description that can go in here...
          </p>
          <a href="#" class="btn btn-default">Start</a>
          <a href="/health_and_safety_module" class="btn btn-default">More Info</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <img class="card-img-top img-responsive" src="/assets/images/productIcons/png/mealPlanning/72x72.png" alt="Meal Planning Module" />
        <div class="card-block">
          <h4>Meal Planning</h4>
          <p class="card-text">
            module description that can go in here...
          </p>
          <a href="#" class="btn btn-default">Start</a>
          <a href="/meal_planning_module" class="btn btn-default">More Info</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <img class="card-img-top img-responsive" src="/assets/images/productIcons/png/medication/72x72.png" alt="Medication Module" />
        <div class="card-block">
          <h4>Medication</h4>
          <p class="card-text">
            module description that can go in here...
          </p>
          <a href="#" class="btn btn-default">Start</a>
          <a href="/medication_module" class="btn btn-default">More Info</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <img class="card-img-top img-responsive" src="/assets/images/productIcons/png/policiesAndProcedures/72x72.png" alt="Policies And Procedures" />
        <div class="card-block">
          <h4>Policies And Procedures</h4>
          <p class="card-text">
            module description that can go in here...
          </p>
          <a href="#" class="btn btn-default">Start</a>
          <a href="/policies_and_procedures_module" class="btn btn-default">More Info</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <img class="card-img-top img-responsive" src="/assets/images/productIcons/png/reporting/72x72.png" alt="Reporting Module" />
        <div class="card-block">
          <h4>Reporting</h4>
          <p class="card-text">
            module description that can go in here...
          </p>
          <a href="#" class="btn btn-default">Start</a>
          <a href="/reporting_module" class="btn btn-default">More Info</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <img class="card-img-top img-responsive" src="/assets/images/productIcons/png/staffManager/72x72.png" alt="Staff Manager" />
        <div class="card-block">
          <h4>Staff Manager</h4>
          <p class="card-text">
            module description that can go in here...
          </p>
          <a href="#" class="btn btn-default">Start</a>
          <a href="staff_manager_module" class="btn btn-default">More Info</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <img class="card-img-top img-responsive" src="/assets/images/productIcons/png/training/72x72.png" alt="Training Module" />
        <div class="card-block">
          <h4>Training</h4>
          <p class="card-text">
            module description that can go in here...
          </p>
          <a href="#" class="btn btn-default">Start</a>
          <a href="training_module" class="btn btn-default">More Info</a>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container-fluid home-features-container">
  <h2>Features</h2>
  <p>
    We have an awesome set of features.
  </p>

  <div class="row">

    <div class="col-md-8">

      <div class="col-md-6 equal">
        <div class="card">
          <img class="card-img-left img-responsive" src="/assets/images/featureBenefitIcons/assets/comprehensive/blue/72x72.png" alt="comprehensive"/>
          <div class="card-block">
            <h4>Comprehensive</h4>
            <p class="card-text">
              All the modules you need to efficiently manage your care home are in one place.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6 equal">
        <div class="card">
          <img class="card-img-left img-responsive" src="/assets/images/featureBenefitIcons/assets/reliable/blue/72x72.png" alt="reliable"/>
          <div class="card-block">
            <h4>Reliable</h4>
            <p class="card-text">
              Secure file sharing. Data is stored safely and securely.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6 equal">
        <div class="card">
          <img class="card-img-left img-responsive" src="/assets/images/featureBenefitIcons/assets/fastReporting/blue/72x72.png" alt="fast reporting"/>
          <div class="card-block">
            <h4>Fast Reporting</h4>
            <p class="card-text">
              Reports are filled out quickly and easily retrieved.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6 equal">
        <div class="card">
          <img class="card-img-left img-responsive" src="/assets/images/featureBenefitIcons/assets/simple/blue/72x72.png" alt="simple"/>
          <div class="card-block">
            <h4>Simple</h4>
            <p class="card-text">
              User friendly,  each page has useful advice panels to assist you.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6 equal">
        <div class="card">
          <img class="card-img-left img-responsive" src="/assets/images/featureBenefitIcons/assets/fullHistory/blue/72x72.png" alt="full history"/>
          <div class="card-block">
            <h4>Full History</h4>
            <p class="card-text">
              All previous information and assessments are stored for easy retrieval.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6 equal">
        <div class="card">
          <img class="card-img-left img-responsive" src="/assets/images/featureBenefitIcons/assets/realTimeMonitoring/blue/72x72.png" alt="real time monitoring"/>
          <div class="card-block">
            <h4>Real-time Monitoring</h4>
            <p class="card-text">
              Mosaic will generate automatic reminders & push notifications for key actions.
            </p>
          </div>
        </div>
      </div>

    </div>

    <div class="col-md-4">
      <img class="img-responsive" src="http://lorempixel.com/800/800/cats"/>
    </div>

    <div class="col-md-12">
      <button class="btn btn-primary mosaic-action-button">see all features ></button> <a class="mosaic-link" href="/securityandprivacy">Read about our data security and privacy policy ></a>
    </div>

  </div>

</div>

<div class="container-fluid home-benefits-container">
  <h2>Benefits</h2>
  <p>
    Just some of the awesome benefits of using Mosaic
  </p>

  <div class="row">

    <div class="col-md-4 home-benefit-item">
      <img src="http://lorempixel.com/72/72/cats" alt="lower admin overheads"/>
      <h2>Lower Admin Overheads</h2>
    </div>

    <div class="col-md-4 home-benefit-item">
      <img src="http://lorempixel.com/72/72/cats" alt="reduce errors"/>
      <h2>Reduce Errors</h2>
    </div>

    <div class="col-md-4 home-benefit-item">
      <img src="http://lorempixel.com/72/72/cats" alt="Improve processes and save time"/>
      <h2>Improve Processes & Save Time</h2>
    </div>

  </div>
</div>
