# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/wo24oap3/rails-test"
PassengerBaseURI "/rails-test"
PassengerRuby "/home/wo24oap3/rubyvenv/rails-test/2.2/bin/ruby"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
