<div id="default-header" class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">

      <div class="col-md-12">

        <h1 class="display-3">Features</h1>

        <p class="lead">Mosaic has some unique features you won’t find elsewhere</p>

        <button type="button" class="btn btn-primary mosaic-action-button">sign up for free ></button>

      </div>
    </div>
  </div>
</div>

<div class="container-fluid about-content-section">
  <div class="row equal">
    <div class="col-md-6">
      <h2>Mosaic is a product of Guuey Ltd, a digital agency expert in developing intuitive and easy to use business software solutions. Our main ambition is to create designs with functionality that meet your business’ needs, help you achieve your goals faster, and deliver a successful product.</h2>
      <p>
        Mosaic is a product of Guuey Ltd, a digital agency expert in developing intuitive and easy to use business software solutions. Our main ambition is to create designs with functionality that meet your business’ needs, help you achieve your goals faster, and deliver a successful product.
      </p>
    </div>

    <div class="col-md-6">
      <img src="http://lorempixel.com/800/800/cats" class="img-responsive" />
    </div>

    <div class="col-md-6">
      <img src="http://lorempixel.com/800/800/cats" class="img-responsive" />
    </div>

    <div class="col-md-6">
      <p>
        We found that many care homes were still using paper based management systems and were losing a lot of time and energy filling out and dealing with all the paperwork. Many common problems arose such as lost documents, lack of storage space, illegible writing leading to potentially dangerous mistakes, and long handover meetings going through all the paper documents.
      </p>

      <p>
        We strived to create a simplified & improved version of the paper forms used currently that speed up administration and improve efficiency. The user friendly system helps to streamline daily processes for care home workers and managers, allowing them to spend more quality time with the service users.
      </p>

      <p>
        Mosaic covers all aspects of care provision including: care plans, records, reports, communication, administration, meal planning, health & safety, medication, policies & procedures, training, analytics, staff management and more.
      </p>
    </div>
  </div>
</div>
