<div id="default-header" class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">

      <div class="col-md-12">

        <h1 class="display-3">Features</h1>

        <p class="lead">Made by IT Professionals for Care Homes</p>

        <button type="button" class="btn btn-primary mosaic-action-button">sign up for free ></button>

      </div>
    </div>
  </div>
</div>

<div class="container-fluid support-content-section">
  <div class="row">
    <div class="col-md-4">
      <div id="MainMenu">
        <div class="list-group panel">
          <a href="#" class="list-group-item" data-parent="#MainMenu">Item 1</a>
          <a href="#" class="list-group-item" data-parent="#MainMenu">Item 2</a>
          <a href="#demo3" class="list-group-item" data-toggle="collapse" data-parent="#MainMenu">Item 3 <i class="fa fa-caret-down"></i></a>
          <div class="collapse" id="demo3">
            <a href="#SubMenu1" class="list-group-item" data-toggle="collapse" data-parent="#SubMenu1">Subitem 1 <i class="fa fa-caret-down"></i></a>
            <div class="collapse list-group-submenu" id="SubMenu1">
              <a href="#" class="list-group-item" data-parent="#SubMenu1">Subitem 1 a</a>
              <a href="#" class="list-group-item" data-parent="#SubMenu1">Subitem 2 b</a>
              <a href="#SubSubMenu1" class="list-group-item" data-toggle="collapse" data-parent="#SubSubMenu1">Subitem 3 c <i class="fa fa-caret-down"></i></a>
              <div class="collapse list-group-submenu list-group-submenu-1" id="SubSubMenu1">
                <a href="#" class="list-group-item" data-parent="#SubSubMenu1">Sub sub item 1</a>
                <a href="#" class="list-group-item" data-parent="#SubSubMenu1">Sub sub item 2</a>
              </div>
              <a href="#" class="list-group-item" data-parent="#SubMenu1">Subitem 4 d</a>
            </div>
            <a href="javascript:;" class="list-group-item">Subitem 2</a>
            <a href="javascript:;" class="list-group-item">Subitem 3</a>
          </div>
          <a href="#demo4" class="list-group-item" data-toggle="collapse" data-parent="#MainMenu">Item 4  <i class="fa fa-caret-down"></i></a>
          <div class="collapse" id="demo4">
            <a href="" class="list-group-item">Subitem 1</a>
            <a href="" class="list-group-item">Subitem 2</a>
            <a href="" class="list-group-item">Subitem 3</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="contents">
        <h2>Management / Support</h2>
        <h3>Do I need training for me and my staff?</h3>
        <p>
          Mosaic has been created around the User Experience principal (UX), with a focus on being intuitive and easy-to-use. You will need a few days to adapt yourself to the software but once you have understood how one module works, you are then ready to use and work on the entire software.  Our support team is here in case of any questions, please don’t hesitate to contact us.
        </p>

        <h3>Do you provide training?</h3>
        <p>
          Yes, we offer an “on boarding” optional full training, available in our support section to make sure that care staff and managers are ready and confident in using Mosaique. Our account managers can also provide training if needed.
        </p>

        <h3>User/ Admin : Who can access the software?</h3>
        <p>
          You can decide your access level settings according to the user types : administrator, manager, care worker and external user (coming soon).
        </p>

        <h3>Will you make updates to the system?</h3>
        <p>
          Yes we will provide continuous minor updates/improvements to offer you the best experience.
  We will also plan quarterly large feature updates. You will receive all the information/ instructions needed by email in advance.
        </p>

        <h2>Features</h2>

        <h3>Can I print data from Mosaic?</h3>
        <p>
          Yes, Mosaic software data is fully printable. You can print in A4, or download any document as a PDF.
        </p>

        <h3>Can I send alerts if a task/action has not been completed on time?</h3>
        <p>
          Yes, Mosaic has a push notification system, which allows the administrator to set notifications and reminders to his staff members. Alerts are sent for any important activity happening in the system including: medication times, goal deadlines, care plan review dates, risk assessment dates.
        </p>
      </div>
    </div>
  </div>
</div>
