.mb196 {
	margin-bottom: 204px;
}

.single-module-content .col-md-6 {
	width: 49%;
}

.single-module-content .col-md-12 h2, .single-module-content .col-md-12 p {
	text-align: center;
}

.careplan_benefits img {
	margin-left: 0!important;
	margin-right: 0!important;
}

.careplan_benefits p {
	text-align: left!important;
}

.careplan_benefits h2+p {
	text-align: center!important;
}

.careplan_items {
	width: 100%;
	max-width: 100%;
}

.careplan_items .row {
	max-width: 1140px;
	margin: auto;
}

.careplan_benefits .col-md-2 {
	padding: 30px;
}

.careplan_benefits .col-md-2 img {
	float: right!important;
}

.hidden-text {
	visibility: hidden;
}

@media screen and (max-width: 991px) {
	.single-module-header .col-md-8, .single-module-header .col-md-4 {
		width: 100%;
	}
	.single-module-header p {
		margin: auto;
		margin-bottom: 27px;
	}
	.single-module-header ul {
		max-width: 550px;
		margin: auto;
		margin-bottom: 27px;
	}
	.careplan_benefits {
		padding-left: 0;
		padding-right: 0;
	}
	.careplan_benefits .row {
		margin-top: 0;
		margin-bottom: 0;
	}
	.careplan_benefits .col-md-2 {
		padding: 0;
		
	}
	.careplan_benefits .col-md-2 img {
		max-width: 100%;
		padding-top: 20px;
	}
}