<footer>
  <div class="container-fluid footer">
    <div class="row top-row equal">
      <div class="col-md-6">
        <h2>Start your Mosaic now</h2>
        <p>
          Register now and get your first 10 service users free
        </p>
      </div>

      <div class="col-md-6 button-col">
        <button class="btn btn-primary mosaic-action-button">sign up for free</button>
        <button class="btn btn-primary mosaic-alt-button">contact us</button>
      </div>
    </div>

    <div class="divider">

    </div>

    <div class="row bottom-row equal">
      <div class="col-md-6">
        <a href="/blog" class="footer-link">Blog</a>
        <a href="/about" class="footer-link">About</a>
        <a href="/contact" class="footer-link">Contact</a>
        <a href="/datasecuritypolicy" class="footer-link">Data Security Policy</a>
        <a href="/termsandconditions" class="footer-link">Terms & Conditions</a>
      </div>

      <div class="col-md-6 button-col">
        <a href="#" class="footer-social"><img class="footer-social-icon" src="/assets/images/contact/FB.png"/></a>
        <a href="#" class="footer-social"><img class="footer-social-icon" src="/assets/images/contact/IG.png"/></a>
        <a href="#" class="footer-social"><img class="footer-social-icon" src="/assets/images/contact/G+.png"/></a>
        <a href="#" class="footer-social"><img class="footer-social-icon" src="/assets/images/contact/LinkedIn.png"/></a>
      </div>
    </div>
  </div>
</footer>
