<nav id="home-header-nav" class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-menu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Mosaic</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="header-menu">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Modules</a>
          <ul class="dropdown-menu">
            <li><a href="/care_plan_module">Care Plan</a></li>
            <li><a href="/administrator_module">Administrator</a></li>
            <li><a href="/advanced_care_module">Advanced Care</a></li>
            <li><a href="/analytics_module">Analytics</a></li>
            <li><a href="/health_and_safety_module">Health & Safety</a></li>
            <li><a href="/meal_planning_module">Meal Planning</a></li>
            <li><a href="/medication_module">Medication</a></li>
            <li><a href="/policies_and_procedures_module">Policies & Procedures</a></li>
            <li><a href="/reporting_module">Reporting</a></li>
            <li><a href="/staff_manager_module">Staff Manager</a></li>
            <li><a href="/training_module">Training</a></li>
          </ul>
        </li>
        <li><a href="benefits">Benefits</a></li>
        <li><a href="pricing">Pricing</a></li>
        <li><a href="about">About</a></li>
        <li><a href="support">Support</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
