<div class="container-fluid single-module-header">
  <div class="row equal">

    <div class="col-md-4">
      <img src="/assets/images/productIcons/png/carePlan/512x512.png" class="img-responsive" />
    </div>

    <div class="col-md-8">
      <h2>Care Plan</h2>
      <h3>
        What is the Care Plan Module?
      </h3>
      <p>The heart of the software. The Care Plan provides a quick and easy way to carry out comprehensive assessments, and allows you to produce fully personalised care plans in a matter of minutes.</p>
      <button class="btn btn-primary mosaic-action-button">sign up for free ></button>
    </div>
  </div>
</div>

<div class="container-fluid single-module-content">
  <div class="row equal">
    <div class="col-md-6">
      <img src="http://lorempixel.com/800/800/cats" class="img-responsive" />
    </div>

    <div class="col-md-6">
      <h2>Pre admission assessment</h2>
      <p>
        Pre Admission Assessment comes with built in fields, including summary of request for referral, service users view of current status and so on.
      </p>

      <p>
        Form is fully customisable, just click the plus button to add a new section.
      </p>
    </div>

    <div class="col-md-6">
      <h2>Care plans and reviews</h2>
      <p>
        The pre built care plans cover different areas of the service user’s life including hobbies, strengths and abilities, daily maintenance, triggers, crisis plan, wellbeing, hygiene and personal health questionnaires.
      </p>

      <p>
        Statement of service user can be agreed to and signed by both parties within the form.
      </p>

      <p>
        Statement of service user can be agreed to and signed by both parties within the form.
      </p>

      <p>
        Support workers can use the care plans to quickly and thoroughly complete a plan for each service user and ensure that no important information is left out.
      </p>
    </div>

    <div class="col-md-6">
      <img src="http://lorempixel.com/800/800/cats" class="img-responsive" />
    </div>
  </div>
</div>
