<div id="default-header" class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">

      <div class="col-md-12">

        <h1 class="display-3">Features</h1>

        <p class="lead">Made by IT Professionals for Care Homes</p>

        <button type="button" class="btn btn-primary mosaic-action-button">sign up for free ></button>

      </div>
    </div>
  </div>
</div>

<div class="container-fluid features-content-section">
  <div class="row top-row equal">
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top img-responsive" src="/assets/images/featureBenefitIcons/assets/comprehensive/blue/96x96.png" alt="Care Plan Module" />
        <div class="card-block">
          <h4>Comprehensive</h4>
          <p class="card-text">
            All the modules you need to efficiently manage your care home are in one place.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top img-responsive" src="/assets/images/featureBenefitIcons/assets/reliable/blue/96x96.png" alt="Care Plan Module" />
        <div class="card-block">
          <h4>Reliable</h4>
          <p class="card-text">
            Secure file sharing. Data is stored safely and securely.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top img-responsive" src="/assets/images/featureBenefitIcons/assets/simple/blue/96x96.png" alt="Care Plan Module" />
        <div class="card-block">
          <h4>Simple</h4>
          <p class="card-text">
            User friendly, each page has useful advice panels to assist you.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top img-responsive" src="/assets/images/featureBenefitIcons/assets/fastReporting/blue/96x96.png" alt="Care Plan Module" />
        <div class="card-block">
          <h4>Fast Reporting</h4>
          <p class="card-text">
             Reports are filled out quickly and easily retrieved.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top img-responsive" src="/assets/images/featureBenefitIcons/assets/fullHistory/blue/96x96.png" alt="Care Plan Module" />
        <div class="card-block">
          <h4>Full History</h4>
          <p class="card-text">
            All previous information and assessments are stored for easy retrieval.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top img-responsive" src="/assets/images/featureBenefitIcons/assets/comprehensive/blue/96x96.png" alt="Care Plan Module" />
        <div class="card-block">
          <h4>Real-time Monitoring</h4>
          <p class="card-text">
            Mosaic will generate automatic reminders & push notifications for key actions.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top img-responsive" src="/assets/images/featureBenefitIcons/assets/comprehensive/blue/96x96.png" alt="Care Plan Module" />
        <div class="card-block">
          <h4>Offline Mode</h4>
          <p class="card-text">
            Once you're back online everything is updated automatically.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top img-responsive" src="/assets/images/featureBenefitIcons/assets/autoSave/blue/96x96.png" alt="Care Plan Module" />
        <div class="card-block">
          <h4>Auto Save</h4>
          <p class="card-text">
            All information typed is automatically saved. No need to hit the save button.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top img-responsive" src="/assets/images/featureBenefitIcons/assets/comprehensive/blue/96x96.png" alt="Care Plan Module" />
        <div class="card-block">
          <h4>Onboarding & Training</h4>
          <p class="card-text">
            We provide a onboarding and training course to help you make the most of Mosaic.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <a href="/data_security_and_privacy" class="mosaic-link">Read about our data security and privacy > </a>
    </div>

  </div>

  <div class="row bottom-row equal">
    <div class="col-md-1">
      <img src="http://lorempixel.com/100/100/cats" class="img-responsive"/>
    </div>

    <div class="col-md-5">
      <h3>Improve Outcomes & Data Quality</h3>
      <p>
        The quality of your data and record keeping will be improved as spelling mistakes and illegible writing can be avoided. Staff will quickly and easily be able to fill out any necessary documents and instantly share them with staff anywhere. Improved records and processes can greatly improve the performance of your care home, as well as saving time and money.
      </p>
    </div>

    <div class="col-md-1">
      <img src="http://lorempixel.com/100/100/cats" class="img-responsive"/>
    </div>

    <div class="col-md-5">
      <h3>Notes Stored Safely</h3>
      <p>
        All your data will be safely and securely stored according to the latest data security standards. All connections are encrypted with a SSL certificate. All documents are automatically saved, even if the internet connection fails, your data will be synced as soon as an internet connection is restored.
      </p>
    </div>

    <div class="col-md-1">
      <img src="http://lorempixel.com/100/100/cats" class="img-responsive"/>
    </div>

    <div class="col-md-5">
      <h3>Reduce Errors</h3>
      <p>
        Reduce medication administration errors by using our real time notifications, use pre built fields in our forms so staff don’t forget to record any crucial information, auto spell check so no misunderstanding between staff.
      </p>
    </div>

    <div class="col-md-1">
      <img src="http://lorempixel.com/100/100/cats" class="img-responsive"/>
    </div>

    <div class="col-md-5">
      <h3>Paperless Record Keeping</h3>
      <p>
        Many paper based homes are moving to a paperless system to save time and money by doing things digitally. Avoid losing important pieces of paper or having to print and scan documents. You can also custom build forms to meet your exact needs.
      </p>
    </div>

    <div class="col-md-1">
      <img src="http://lorempixel.com/100/100/cats" class="img-responsive"/>
    </div>

    <div class="col-md-5">
      <h3>Improve Processes & Save Time</h3>
      <p>
        Processes are clearly mapped out on Mosaic for staff to follow. Takes the guesswork out of what people should do in a particular instance. Staff and management always know where they are and what they should be doing. Built in reminders and push notifications.
      </p>
    </div>

    <div class="col-md-1">
      <img src="http://lorempixel.com/100/100/cats" class="img-responsive"/>
    </div>

    <div class="col-md-5">
      <h3>Lower Admin Overheads</h3>
      <p>
        …% reduction over a year, save on paper, printing costs and time staff spend doing paperwork.
      </p>
    </div>
  </div>
</div>
